      <div style="margin:0;font-family:'Open Sans',sans-serif;font-size:16px;"> 
        <table style="border-collapse:collapse;" width="100%" cellspacing="0" cellpadding="0" border="0" align="left"> 
          <tbody>
            <tr> 
              <td style="padding: 20px 0;"> 
                <!--[if mso]>
                    <table style="width: 600px;" align="left"><tr><td>
                <![endif]--> 
                <div style="max-width: 600px; margin: 0; float:left;"> 
                  <table class="container" style="border-collapse:collapse;" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody>
                      <tr>
                        <td class="padded-wrapper-td" style="padding: 0 0 0 10px"> 
                          
                          <!-- 3 Columns --> 
                          <table class="column-1of3" height="72" width="64" align="left" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"> 
                            <tbody> 
                              <tr> 
                                <td id="profile-image" width="64" style="width: 64px; font-family:'Open Sans',sans-serif;font-size:16px;line-height:1.2;color:#595655;text-align:left;vertical-align:top">
                                  <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top"><td height="5px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#595655;font-family:'Open Sans',sans-serif;font-size:5px;font-weight:400;hyphens:auto;line-height:5px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td></tr></tbody></table>
                                  <img src="http://contentsandbox.smartdeploy.com/rs/933-CYL-247/images/Spencer_64x64.png" class="profile-image" width="64" height="64" style="display:block" alt="profile"> 
                                </td> 
                                <td width="11px" style="width: 11px;">&nbsp;</td> 
                              </tr> 
                            </tbody> 
                          </table> 
                          <table class="column-2of3" height="72" width="505" align="left" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"> 
                            <tbody> 
                              <tr> 
                                <td id="lead-owner-info" style="font-family:'Open Sans',sans-serif;font-size:16px;line-height:1.2;color:#595655;text-align:left;vertical-align:bottom">
                                  <div> 
                                    <span style="font-weight:700;font-family:'Open Sans',sans-serif;color:#595655;font-size:29px">Spencer Dunford</span> 
                                    <br>General Manager <span style="color:#7EC4C1">|</span> 888.7DEPLOY
                                    <br><a href="mailto:dunford@smartdeploy.com" style="color:#595655;text-decoration:none;"><span style="color:#595655;text-decoration:none;">dunford@smartdeploy.com</span></a> 
                                  </div></td> 
                              </tr>
                            </tbody>
                          </table> 
                         
                          <!-- Spacer -->
                          <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top"><td height="6px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#595655;font-family:'Open Sans',sans-serif;font-size:6px;font-weight:400;hyphens:auto;line-height:6px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td></tr></tbody></table>

                          <table class="column-1of1" width="590" align="left" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"> 
                              <tbody>
                                <tr>
                                  <td style="padding:12px 0 8px;line-height:1;color:#595655;text-align:center;vertical-align:middle">
                                    <img src="http://contentsandbox.smartdeploy.com/rs/933-CYL-247/images/Striped_Line.jpg" class="divider" alt="" align="left" style="display:block;margin:0 auto;max-width:100%" height="5" width="590"> 
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          <!-- Spacer -->
                          <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top"><td height="6px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#595655;font-family:'Open Sans',sans-serif;font-size:6px;font-weight:400;hyphens:auto;line-height:6px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td></tr></tbody></table>

                           <!-- 2 Columns --> 
                          <table class="column-1of2" width="415" align="left" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"> 
                            <tbody> 
                              <tr> 
                                <td style="font-family:'Open Sans',sans-serif;font-size:16px;line-height:1.2;color:#595655;text-align:left;vertical-align:top"> 

                                  <table width="415" align="left" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"> 
                                    <tbody> 
                                      <tr> 
                                        <td style="font-family:'Open Sans',sans-serif;font-size:16px;line-height:1.2;color:#595655;text-align:left;vertical-align:middle;padding:0 0 15px 0;"> 
                                          <img src="http://contentsandbox.smartdeploy.com/rs/933-CYL-247/images/SmartDeploy_Logo.jpg" style="display: block;" alt="SmartDeploy Logo" height="31" width="144"> 
                                       </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <div id="address">
                                    888.7DEPLOY 
                                    <span style="color:#7EC4C1">|</span> 
                                    <a href="https://www.smartdeploy.com/" style="color:#595655;text-decoration:none"><span style="color:#595655;text-decoration:none">smartdeploy.com</span></a> 
                                    <br> 
                                    <span style="color:#9F9F9F">5701 6th Ave South, Suite 374 <span style="color:#7EC4C1;position:relative;top:-1px;">|</span> Seattle, WA 98108</span> 
                                  </div> 
                                </td> 
                              </tr> 
                            </tbody> 
                          </table> 

                          <!-- Spacer -->
                          <table class="spacer social-spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%; display: none;"><tbody><tr style="padding:0;text-align:left;vertical-align:top"><td height="10px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#595655;font-family:'Open Sans',sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td></tr></tbody></table>

                          <table class="column-2of2" width="140" align="right" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"> 
                            <tbody> 
                              <tr> 
                                <td class="social-td" style="font-family:'Open Sans',sans-serif;font-size:16px;line-height:1.2;color:#595655;text-align:right;vertical-align:top"> 

                                    <table class="social-table" width="140" align="right" style="vertical-align:top;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td width="40" style="font-size:16px;line-height:1.2;text-align:right;vertical-align:top;padding:0 5px 0 0">
                                              <a href="https://www.facebook.com/SmartDeploy" style="text-decoration: none;">
                                                <img src="http://contentsandbox.smartdeploy.com/rs/933-CYL-247/images/facebook-icon.jpg" width="35" height="35" style="display: block; text-decoration: none;" alt="facebook icon">
                                              </a>
                                          </td>
                                          <td width="40" style="font-size:16px;line-height:1.2;text-align:right;vertical-align:top;padding:0 5px 0 0">
                                              <a href="https://twitter.com/SmartDeploy" style="text-decoration: none;">
                                                <img src="http://contentsandbox.smartdeploy.com/rs/933-CYL-247/images/twitter-icon.jpg" width="35" height="35" style="display: block; text-decoration: none;" alt="twitter icon">
                                              </a>
                                          </td>
                                          <td width="40" style="font-size:16px;line-height:1.2;text-align:right;vertical-align:top;padding:0 5px 0 0">
                                              <a href="https://www.youtube.com/SmartDeploy" style="text-decoration: none;">
                                                <img src="http://contentsandbox.smartdeploy.com/rs/933-CYL-247/images/youtube-icon.jpg" width="35" height="35" style="display: block; text-decoration: none;" alt="youtube icon">
                                              </a>
                                          </td>
                                          <td width="45" style="font-size:16px;line-height:1.2;text-align:right;vertical-align:top;padding:0">
                                              <a href="https://community.spiceworks.com/pages/smartdeploy" style="text-decoration: none;">
                                                <img src="http://contentsandbox.smartdeploy.com/rs/933-CYL-247/images/spiceworks-icon.jpg" width="35" height="35" style="display: block; text-decoration: none;" alt="spiceworks icon">
                                              </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                </td> 
                              </tr> 
                            </tbody> 
                          </table>
                        </td> 
                      </tr> 
                    </tbody> 
                  </table> 
                </div> 
                <!--[if mso]>
                </td></tr></table>
                <![endif]--> </td> 
            </tr> 
          </tbody>
        </table>  
      </div>