<div style="margin: 0; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px;">
    <table style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff;" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
        <tbody>
            <tr>
                <td style="border-collapse: collapse; padding: 20px 0;">
                    <!--[if mso]>
                        <table style="width: 600px;" align="left"><tr><td style="border-collapse: collapse;">
                    <![endif]-->
                    <div style="max-width: 600px; margin: 0; float: left;">
                        <table class="container" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="600" cellspacing="0" cellpadding="0" border="0"
                            align="left" height="180">
                            <tbody>
                                <tr>
                                    <td style="border-collapse: collapse;">
                                        <!-- 3 Columns -->
                                        <table class="column-1of3" height="72" width="64" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0"
                                            cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td id="profile-image" width="64" style="border-collapse: collapse; width: 64px; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; line-height: 1.2; color: #595655; text-align: left; vertical-align: top;">
                                                        <table class="spacer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                                            <tbody>
                                                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                                    <td height="5px" style="border-collapse: collapse; -moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-size: 5px; font-weight: 400; hyphens: auto; line-height: 5px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <img src="{{lead.Sales Owner Photo URL}}" class="profile-image" width="64" height="64" style="display: block;" alt="profile" />
                                                    </td>
                                                    <td width="11px" style="border-collapse: collapse; width: 11px;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="column-2of3" height="72" width="295" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0"
                                            cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td id="lead-owner-info" style="border-collapse: collapse; font-family: 'Open Sans', Arial, sans-serif; font-size: 11px; line-height: 1.2; color: #595655; text-align: left; vertical-align: bottom;">
                                                        <!-- Spacer -->
                                                        <table class="spacer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                                            <tbody>
                                                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                                    <td height="40px" style="border-collapse: collapse; -moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-size: 40px; font-weight: 400; hyphens: auto; line-height: 40px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <span style="font-weight: 700; font-size: 16px">{{lead.Lead Owner First Name:default=SmartDeploy}} {{lead.Lead Owner Last Name}} </span>
                                                        <br />{{lead.Lead Owner Job Title:default=Success Manager}}
                                                        <span style="color: #7ec4c1;">|</span> 
                                                        <span class="phone-number" style="color: #595655; text-decoration: none;">{{lead.Lead Owner Phone Number:default=206.458.7073}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="column-2of3" height="72" width="210" align="right" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0"
                                            cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td id="schedule" class="meeting-td" height="72" style="border-collapse: collapse; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; line-height: 1.2; color: #595655; text-align: right; vertical-align: bottom;">
                                                        <!-- Spacer -->
                                                        <table class="spacer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                                            <tbody>
                                                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                                    <td height="35px" style="border-collapse: collapse; -moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-size: 35px; font-weight: 400; hyphens: auto; line-height: 35px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <span style="font-size: 11px;">
                                                            Schedule a meeting:
                                                            <br />
                                                            <a href="{{lead.Sales Owner Demo URL}}" style="color: #7ec4c1; text-decoration: none;" target="_blank">
                                                                <span style="color: #7ec4c1; text-decoration: none">{{lead.Sales Owner Demo URL}}</span>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Spacer -->
                                        <table class="spacer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                            <tbody>
                                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                    <td height="6px" style="border-collapse: collapse; -moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-size: 6px; font-weight: 400; hyphens: auto; line-height: 6px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="column-1of1" width="590" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0" cellpadding="0"
                                            border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse: collapse; padding: 12px 0 8px; line-height: 1; color: #595655; text-align: center; vertical-align: middle;">
                                                        <img src="http://content.smartdeploy.com/rs/794-HYU-673/images/Striped_Line.jpg"
                                                            alt="Striped_Line.jpg" height="5" width="622" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Spacer -->
                                        <table class="spacer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                            <tbody>
                                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                    <td height="6px" style="border-collapse: collapse; -moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-size: 6px; font-weight: 400; hyphens: auto; line-height: 6px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- 2 Columns -->
                                        <table class="column-1of2" width="415" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0" cellpadding="0"
                                            border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse: collapse; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; line-height: 1.2; color: #595655; text-align: left; vertical-align: top;">
                                                        <table width="415" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-collapse: collapse; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; line-height: 1.2; color: #595655; text-align: left; vertical-align: middle; padding: 0 0 15px 0;">
                                                                        <img src="http://content.smartdeploy.com/rs/794-HYU-673/images/SmartDeploy_Logo_144x31.jpg"
                                                                            alt="SmartDeploy_Logo.jpg" height="31"
                                                                            width="144" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div id="address" style="font-size: 10px">
                                                            888.7DEPLOY
                                                            <span style="color: #7ec4c1;">|</span>
                                                            <a href="https://www.smartdeploy.com/"
                                                                style="color: #595655; text-decoration: none;">
                                                                <span style="color: #595655; text-decoration: none;">www.smartdeploy.com</span>
                                                            </a>
                                                            <br />
                                                            <span class="footer-address"  style="color: #9f9f9f !important; text-decoration: none;">5701 6th Ave South, Suite 374</span>
                                                            <span style="color: #7ec4c1; position: relative; top: -1px;">|</span> 
                                                            <span class="footer-address"  style="color: #9f9f9f !important; text-decoration: none;">Seattle, WA 98108</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Spacer -->
                                        <table class="spacer social-spacer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%; display: none;">
                                            <tbody>
                                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                    <td height="10px" style="border-collapse: collapse; -moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #595655; font-family: 'Open Sans', Arial, sans-serif; font-size: 10px; font-weight: 400; hyphens: auto; line-height: 10px; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="column-2of2" width="140" align="right" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0" cellpadding="0"
                                            border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="social-td" style="border-collapse: collapse; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; line-height: 1.2; color: #595655; text-align: right; vertical-align: top;">
                                                        <table class="social-table" width="140" align="right" style="vertical-align: top; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" cellspacing="0"
                                                            cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="40" style="border-collapse: collapse; font-size: 16px; line-height: 1.2; text-align: right; vertical-align: top; padding: 0 5px 0 0;">
                                                                        <a href="https://www.facebook.com/SmartDeploy"
                                                                            style="text-decoration: none;">
                                                                            <img src="http://content.smartdeploy.com/rs/794-HYU-673/images/facebook-icon.jpg"
                                                                                alt="facebook-icon.jpg" height="35"
                                                                                width="35" /> </a>
                                                                    </td>
                                                                    <td width="40" style="border-collapse: collapse; font-size: 16px; line-height: 1.2; text-align: right; vertical-align: top; padding: 0 5px 0 0;">
                                                                        <a href="https://twitter.com/SmartDeploy" style="text-decoration: none;">
                                                                            <img src="http://content.smartdeploy.com/rs/794-HYU-673/images/twitter-icon.jpg"
                                                                                alt="twitter-icon.jpg" height="35"
                                                                                width="35" /> </a>
                                                                    </td>
                                                                    <td width="40" style="border-collapse: collapse; font-size: 16px; line-height: 1.2; text-align: right; vertical-align: top; padding: 0 5px 0 0;">
                                                                        <a href="https://www.youtube.com/SmartDeploy"
                                                                            style="text-decoration: none;">
                                                                            <img src="http://content.smartdeploy.com/rs/794-HYU-673/images/youtube-icon.jpg"
                                                                                alt="youtube-icon.jpg" height="35"
                                                                                width="35" /> </a>
                                                                    </td>
                                                                    <td width="45" style="border-collapse: collapse; font-size: 16px; line-height: 1.2; text-align: right; vertical-align: top; padding: 0 10px 0 0;">
                                                                        <a href="https://community.spiceworks.com/pages/smartdeploy"
                                                                            style="text-decoration: none;">
                                                                            <img src="http://content.smartdeploy.com/rs/794-HYU-673/images/spiceworks-icon.jpg"
                                                                                alt="spiceworks-icon.jpg" height="34"
                                                                                width="34" /> </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso]>
                    </td></tr></table>
                    <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</div>