<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head> 
  </head> 
  <body> 
    <div id="body" class="mktoText" mktoname="Message Body" style="font-family: Helvetica, Arial, Sans-Serif; padding:10px;">
      <div> 
        <span style="font-family: calibri, arial;">Dear {{lead.First Name:default=Friend}},</span> 
      </div> 
      <div> 
        <br /> 
      </div> 
      <div> 
        <span style="font-family: calibri, arial;">We are pleased to inform you that you have been accepted at Hogwarts School of Witchcraft and Wizardry. Please find enclosed a list of all necessary books and equipment. Term begins on September 1. We await your owl by no later than July 31.</span> 
      </div> 
      <div> 
        <br /> 
      </div> 
      <div> 
        <span style="font-family: calibri, arial;">Yours sincerely,</span> 
      </div> 
      <div> 
        <span style="font-family: calibri, arial;">Minerva McGonagall</span> 
      </div> 
      <div> 
        <span style="font-family: calibri, arial;">Deputy Headmistress</span> 
      </div>
    </div> 
    <div id="body2" class="mktoText" mktoname="Message Body" style="font-family: Calibri, Arial, Sans-Serif; padding:10px;">
      <p>{{lead.Lead Owner First Name:default=Sales}} {{lead.Lead Owner Last Name:default=Team}}</p> 
      <p></p> 
      <p><br /></p>
    </div>
  </body>
</html>